secret_vars.R
renv/library/      # Exclude the package library
renv/staging/      # Exclude staging area
!renv/activate.R   # Include the activate.R script
*src
notes
.venv
downloads
*.csv
selenium.log
python/sel_download_dir.txt
page.html
*log.txt
*token_usage.txt
*hypothesis_text.txt
*.hyptheses_extract.txt
python/json_files*
extracted_data*.json
python/oai_key.py
python/extract_statistics_GPT-o1_mini.ipynb